<footer id="footer">
    <figure class="logo-foot"><img src="../../assets/logo.svg" alt="Logo Airline"></figure>
    <div>
        <figure class="social">
            <h3>Follow us</h3>
            <a href="#footer"><img src="../../assets/twitter-social.png" alt="Twitter Social"></a>
            <a href="#footer"><img src="../../assets/facebook-social.png" alt="Facebook Social"></a>
            <a href="#footer"><img src="../../assets/youtube-social.png" alt="Youtube Social"></a>
        </figure>
        <blockquote>
            <h3>Destinations</h3>
            <a href="#footer">Madrid</a>
            <a href="#footer">Barcelona</a>
            <a href="#footer">London</a>
            <a href="#footer">Paris</a>
            <a href="#footer">Rome</a>
        </blockquote>
        <blockquote>
            <h3>Legal information</h3>
            <a href="#footer">Privacy policy</a>
            <a href="#footer">Cookie policies</a>
            <a href="#footer">Data treatment</a>
        </blockquote>
        <blockquote>
            <h3>Book your flight</h3>
            <a href="#footer">Search flights</a>
            <a href="#footer">Price calendar</a>
            <a href="#footer">Destination map</a>
            <a href="#footer">Flight times</a>
        </blockquote>
    </div>
</footer>
<div class="data-foot">
    <a href="#footer">Website terms of use</a> | <a href="#footer">Site map</a> | <a href="#footer">Environment</a> | <a href="mailto:contact@arilines.com">contact&#64;arilines.com</a>
</div>
