section
    width: 100%

#banner 
    background: url('../assets/back-1.png')
    background-repeat: no-repeat
    background-position: 57% 0
    background-size: 256%
    padding: 120px 10px
    color: #fff
    
    h1
        font-size: 1.5rem
        margin: 0 0 10px
    
    p
        font-size: .8rem
        margin: 0 0 30px

    button
        background-color: rgba(194, 1, 20, 1)
        border: none
        border-radius: 20px
        padding: 8px 50px
        font-size: .9rem
        color: #fff

#ofertas
    display: flex
    flex-direction: column
    padding: 20px 15px 50px
    gap: 20px
        
    figure
        width: 100%
        height: 250px
        border-radius: 15px
        overflow: hidden
        position: relative

        img
            width: 100%
            height: 100%
            aspect-ratio: 9/3

        caption
            position: absolute
            bottom: 0
            right: 0
            width: 98%
            height: 95%
            background: rgba(0,0,0,.5)
            border-radius: 100% 0 0 0
            text-align: right 
            color: #fff
            font-size: 1.2rem
            padding: 42% 15px 0 0
            line-height: 30px
            
            b
                font-size: 1.5rem

            span
                font-size: 1rem
    
    div
        width: 100%
        border-radius: 10px
        overflow: hidden
        background: linear-gradient(to bottom, rgba(24, 24, 35, 1)70%, rgba(83, 127, 231, 1))
        color: #fff
        padding: 0 15px 80px

        figure
                width: 135%
                height: 365px
                border-radius: 0 0 100% 100%
                position: relative
                top: 0
                left: 50%
                transform: translateX(-50%)
                background: url(../assets/back-5.jpg)
                background-repeat: no-repeat
                background-position: 63% 74%
        
        h3
            margin: 50px 0 30px
            font-size: 1.8rem
            line-height: 2.5rem

            span
                font-weight: 200
                color: #C0EEF2

        p
            font-size: 1.15rem
            line-height: 1.4rem
            
@media screen and (min-width:1359px)

    #banner
        padding: 120px 8%
        background-position: center 17% 
        background-size: cover

        h1
            font-size: 3rem
            margin: 0 0 20px

        p
            font-size: 1.3rem
            width: 40%

        button
            background-color: rgba(194, 1, 20, 1)
            border: none
            border-radius: 20px
            padding: 10px 70px
            font-size: 1.1rem

    #ofertas
        padding: 30px 8%
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        gap: 20px 0

        h2
            width: 100%

        figure
            width: 24%

            caption
                padding: 54% 15px 0 0
                width: 100%

        .porto
            width: 49%

            caption
                padding: 26% 15px 0 0

        div
            width: 100%
            height: 400px
            overflow: hidden
            background: linear-gradient(to right, rgb(24, 24, 35) 40%, rgb(83, 127, 231))
            padding: 0
            display: flex
            justify-content: space-between

            figure
                width: 35%
                height: 550px
                border-radius: 0 100% 100% 0
                top: 50%
                left: 0
                transform: translateY(-50%)
                background-position: 96% 53%

            blockquote
                width: 60%
                display: flex
                flex-direction: column
                justify-content: center

                h3
                    margin: 0 0 30px
                    font-size: 2.3rem
                    line-height: 2.8rem

                p
                    width: 70%
                    font-size: 1.2rem
