<app-nav-bar></app-nav-bar>
<main>
    <section id="banner">
        <h1>Take a rest</h1>
        <p>Discover all the offers available at the best prices for the whole country and the world</p>
        <button>Buy</button>
    </section>
    <section id="ofertas">
        <h2>Offers</h2>
        <figure><img src="" alt="Chicago background"><caption><b>Chicago</b> <br>From $600.<span>00</span></caption></figure>
        <figure class="porto"><img src="" alt="Porto background"><caption><b>Porto</b> <br>From $600.<span>00</span></caption></figure>
        <figure><img src="" alt="Chicago background 2"><caption><b>Chicago</b> <br>From $600.<span>00</span></caption></figure>
        <div>
            <figure></figure>
            <blockquote>
                <h3>Our destinations <br><span>Discover the world</span></h3>
                <p>Embark on an unforgettable adventure! <br> Discover and enjoy our fascinating destinations. We are waiting for you to explore the world together!</p>
            </blockquote>
        </div>
    </section>
</main>
<app-footer></app-footer>
