<header #header>
    <button #navResponsive class="menu"><img #menuImg src="../../assets/responsive-menu-open.png" alt="Menu open"></button>
    <figure class="logo"><img src="../../assets/logo.svg" alt="Logo Airline"></figure>
    <nav #menu>
        <ul>
            <li>Check-in</li>
            <li>Manage my booking</li>
            <li #subBtn id="info"> Information
                <ul #subMenu class="sub-info">
                    <li>Help center</li>
                    <li>Flight state</li>
                    <li>Airplanes</li>
                    <li>Routes</li>
                </ul>
            </li>
        </ul>
    </nav>
    <figure class="lang"><img src="../../assets/language-ico.png" alt="Languages"><caption> English</caption></figure>
</header>
